@if(router.url !== '/signupARTIST' && router.url !== '/SIGNUPit') {
    <button type="button" class="btn btn-custom" (click)="navigateToSignupARTIST()">Sign Up Artist</button>
   

   
    <button type="button" class="btn btn-custom" (click)="navigateToSIGNUPit()">Apply for IT</button>

    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="border p-5 text-center bg-light shadow-lg">
            <div class="row">
                <h4> Addy <b>Up</b> is an artist who grew up in <b>Dallas</b> TX, he moved around alot, he loves to code, play with his dog, hooping is his favorite sport, and rapping is his favorite pass time.</h4>
                <div class="container"></div>
                <h4 style="color: gray;">"More chances to grow as a coder and an artist, right here in this site."</h4>
                <div class="col-md-6">
                    <h3> <a href="https://soundcloud.com/calcbliss" class="link-warning">soundCloud</a></h3>
                  
                </div>
                <div class="col-md-6">
                    <h3>Addy Up</h3>
                  
                </div>
              </div>
        </div>
      </div>
    <div class="container">
        <!-- <a-tm></a-tm> -->
       </div>
}