<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h3>Artist Submission</h3>
          <h5>Please click the <span style="color: blue;">submit</span> butoin only <span style="color: red;">once</span>.</h5>
        </div>
        <div class="card-body">
          
          
          <form (ngSubmit)="onSubmitArtist()" #artistForm="ngForm">
            
            <div class="form-group mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                id="email"
                class="form-control"
                [(ngModel)]="artist.email"
                name="email"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label for="email" class="form-label">Bio</label>
              <input
                type="bio"
                id="bio"
                class="form-control"
                [(ngModel)]="artist.bio"
                name="email"
                required
              />
            </div>
            
            <div class="form-group mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                id="name"
                class="form-control"
                [(ngModel)]="artist.name"
                name="name"
                required
              />
            </div>
            
            <button type="submit" class="btn btn-primary w-100" [disabled]="!artistForm.form.valid">
              Submit
            </button>
            <a href="http://click.linksynergy.com/fs-bin/click?id=tAaIuszgIHY&offerid=311675&type=3&subid=0&LSNSUBSITE=LSNSUBSITE">Rakuten Advertising Welcome Program</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
